<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV - Admin</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
<!-- Dropdown loggin for navbar -->
<ul id="drop-log" class="dropdown-content">
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">{% block logo %}Administration des messages{% endblock %}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="dropdown-button" href="#!" data-activates="drop-log">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <i class="material-icons right">arrow_drop_down</i></a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block container %}{% endblock %}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
    $(function () {
      $(".dropdown-button").dropdown();
    })
</script>
</body>
</html>