{% extends '@Backend/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col s12">
            <h1>{{ 'Listes des messages'|trans }}</h1>

            <div class="row">
                {% for message in messages %}
                {% set delete_form = delete_forms[loop.index0] %}
                <div class="col l4 m3 s12">
                    <div class="card">
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title">{{ message.nom }} {{ message.prenom }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ 'Sujet'|trans }}: {{ message.subject }}</p>
                            <p class="center-align">-</p>
                            <p><i>{{ message.content }}</i></p>
                            <p class="right-align">
                                {% if message.createdAt %}{{ 'Posté le'|trans }}: <i>{{ message.createdAt|date("d-m-Y  H:m") }}</i>{% endif %}
                            </p>
                        </div>
                        <div class="card-action">
                            {{ 'Répondre'|trans }}: <a href="mailto:{{ message.email }}">{{ message.email }}</a>
                        </div>
                        <div class="card-content">
                            {{ form_start(delete_form) }}
                            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">delete</i>{{ 'Effacer'|trans }}
                            </button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar%}
    <div class="row">
        <h4>{{ 'Mettre à jour le CV'|trans }}</h4>
        {{ form_start(form) }}

        {{ form_errors(form.nom) }}
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                {{ form_widget(form.nom) }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        {{ form_widget(form) }}

        <button type="submit" class="waves-effect waves-light btn">{{ 'Envoyer'|trans }}</button>
        {{ form_end(form) }}
    </div>
    <div class="divider"></div>
    <div class="row">
        <a class="waves-effect waves-light btn" href="{{ asset('uploads/documents/CV-Resume-Quentin-Rillet.pdf') }}" target="_blank">{{ 'Télécharger'|trans }}</a>
    </div>

{% endblock %}